name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        go-version: ['1.15', '1.16']
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2.1.5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Download Go dependencies
        run: go mod download
        env:
          GOPROXY: "https://proxy.golang.org"

      - name: Build
        run: go build -v .

      - name: Test
        run: go test -v ./...
